@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html {
    scroll-behavior: smooth;
}


:root{
    --primary-color: #9BCB6C;
    --secondary-color: #323232;
    --background-color: #414141;
}

h1{
    text-align: center;
    font-size: 2em;
}

h2{
    font-weight: normal;
}

body{
    background: var(--background-color);
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 3em 2em;
}

button{
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 0.7em 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background: var(--primary-color);
}

.fa{
    font-size: 1.5em;
}

/*Mobile section*/
/*------------------------------------------------------------Navigation bar-----------------------------------------------------------*/
.navbar{
    background: var(--secondary-color);
    box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar .top-nav{
    display: flex;
    justify-content: space-between;
}

.navbar .logo{
    display: block;
    padding: 0.7em;
    font-size: 1.3em;
}

.navbar .hamburger-bar{
    z-index: 999;
    padding-top: 0.55em;
    padding-right: 0.7em;
    cursor: pointer;
}

.navbar .hamburger-bar .bar1, .bar2, .bar3{
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 7px 0;
    transition: 0.4s;
}

.change .bar1{
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2{ opacity: 0;}

.change .bar3{
  -webkit-transform: rotate(45deg) translate(-7px, -7px);
  transform: rotate(45deg) translate(-7px, -7px);
}

.navbar nav{
    overflow: hidden;
	max-height: 0px;
    transition: all 0.4s ease-in-out;
}

.navbar nav li a{
    display: block;
    padding: 1em;
    text-align: right;
    transition: all 0.3s ease;
}

.navbar nav .secondary-nav{
    display: flex;
    float: right;
}

.navbar nav li a:hover{
    background: var(--primary-color);
}

.navbar nav li .current{
    background: var(--primary-color);
}

/*--------------------------------------------Portfolio Section----------------------------------------*/
.portfolio-section .filter-portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-section .filter-portfolio .btn{
    float: left;
    font-size: 1.1em;
}

.portfolio-section .filter-portfolio .btn.current{
    background: var(--primary-color);
}

.portfolio-section .gallery{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.portfolio-section .gallery img{
    width: 100%;
    vertical-align: middle;
}

.portfolio-section .thumbnail{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.portfolio-section .thumbnail h4{
    margin-bottom: 0;
}

.portfolio-section .thumbnail p{
    margin-top: 0.1em;
}


.portfolio-section .thumbnail .overlay{
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    font-size: 1em;
}

.portfolio-section .thumbnail:hover .overlay{
    opacity: 1;
}

.portfolio-section .gallery .column{
    display: none;
}

.portfolio-section .gallery .show{
    display: block;
}


.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    
}

.modal-content{
    position: relative;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    display: table-cell;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
   
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  

iframe{
    border: none;
    height:100%;
    width: 100%;
}

.close{
    z-index: 2;
    position: absolute;
    right: 0.5em;
    font-size: 4em;
    transition: 0.3s;
}

.close:hover{
    color:grey;
    text-decoration: none;
    cursor: pointer;
}



/*---------------------------------------------About Section-------------------------------------------*/
.about-section{
    background-color: var(--secondary-color);
}

.about-section .right-col{
    text-align: center;
}

.about-section img{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-section .download-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
}

.about-section .download-btn .fa{
    margin-right: 0.3em;
}

/*--------------------------------------------Contact Section------------------------------------------*/
input[type=text], input[type=email], textarea{
    width: 100%;
    padding: .8em;
    margin-bottom: 1.8em;
    border: 1px solid gray;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input[type=submit]
{
    background-color: var(--secondary-color);
    border: none;
    color: white;
    font-size: 1.1em;
    padding: 0.7em 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]:hover
{
    background-color: var(--primary-color);
}

.contact-section .right-col{
    padding: 2em 0em;
    text-align: center;    
}

.contact-section .right-col li{
    display: inline-block;
    padding: 0.5em;
}

.contact-section .fa{
    margin-right: 0.5em;
}

.footer{
    background-color: var(--secondary-color);
    padding: 0.5em 1.5em;
    text-align: right;
}

/*Tablet*/
@media only screen and (min-width: 768px){
/*------------------------------------------------------------Navigation bar-----------------------------------------------------------*/    
    .hamburger-bar{
        display: none;
    }

    .navbar .container{
        display: grid;
        grid-template-columns: 330px auto;
        justify-content: unset;
    }

    .navbar nav{
        overflow: visible;
        display: flex;
        justify-content: space-between;
        position: unset;
    }

    .navbar nav ul{
        display: flex;
    }

    .navbar nav li a{
        display: block;
        padding: 1.13em;
        text-align: center;
    }

    .navbar nav .secondary-nav li a{
        display: none;
    }

    .portfolio-section .gallery{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/*Bigger Tablet/Laptop*/
@media only screen and (min-width: 927px)
{
    .navbar nav .secondary-nav li a{
        display: block;
        padding: 0.65em;
        text-align: center;
    }

    /*--------------------------------------------Portfolio Section-------------------------------------------*/

    iframe{
        height: 700px;
    }
    
    /*--------------------------------------------About Section-------------------------------------------*/
    .about-section{
        padding: 3em 4em;
    }

    .about-section .container{
        display: flex;
        justify-content: space-between;  
    }

    .about-section .left-col{
        margin-top: 2em;
    }

    .about-section .right-col{
        text-align: justify;
        margin-left: 5em;
    }

    .contact-section{
        padding: 3em 4em;
    }
    /*--------------------------------------------Contact Section------------------------------------------*/
    .contact-section .container{
        display: flex;
        justify-content: space-between;  
    }

    .contact-section .left-col{
       width: 55%
    }

    .contact-section .right-col{
        text-align: right;
        margin-top: 22em;
        margin-right: 4em;
    }

    .contact-section .right-col li{
        display: block;
    }
}

@media only screen and (min-width: 1080px)
{
    .container{
        width: 1080px;
        margin: 0 auto;
    }

    iframe{
        width: 1200px;
    }

}


/*PC*/
@media only screen and (min-width: 1450px)
{
    /*--------------------------------------------About Section-------------------------------------------*/
    .about-section{
        padding: 3em 23em;
    }

    .about-section img{
        max-width: 250px;
        max-height: 250px;
    }

    .about-section .left-col{
        margin: 0em;
    }

    .about-section .right-col{
        margin: 1em 0em 0em 5em;
    }

    .contact-section{
        padding: 3em 23em;
    }
}

