@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html {
    scroll-behavior: smooth;
  }


:root{
    --primary-color: #9BCB6C;
}

body{
    background: #414141;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 5em 2em;
}

/*------------------------------------------------------------Navigation bar-----------------------------------------------------------*/
.navbar{
    background: #323232;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    width: 100%
}

.navbar .top-nav{
    display: flex;
    justify-content: space-between;
}

.navbar .logo{
    display: block;
    padding: 0.7em;
    font-size: 1.3em;
}

.navbar .hamburger-bar{
    z-index: 999;
    padding-top: 0.55em;
    padding-right: 0.7em;
    cursor: pointer;
}

.navbar .hamburger-bar .bar1, .bar2, .bar3{
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 7px 0;
    transition: 0.4s;
}

.change .bar1{
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2{ opacity: 0;}

.change .bar3{
  -webkit-transform: rotate(45deg) translate(-7px, -7px);
  transform: rotate(45deg) translate(-7px, -7px);
}

.navbar nav{
    overflow: hidden;
	max-height: 0px;
    transition: all 0.4s ease-in-out;
}

.navbar nav li a{
    display: block;
    padding: 1em;
    text-align: right;
    transition: all 0.3s ease;
}

.navbar nav .secondary-nav{
    display: flex;
    float: right;
}

.navbar nav li a:hover{
    background:  #414141;
}

.navbar nav li.current a{
    background:  #9BCB6C;
}

.fa{
    font-size: 1.5em;
}

.footer{
    background-color: #323232;
    padding: 0.5em 1.5em;
    text-align: right;
}


@media only screen and (min-width: 768px){
/*------------------------------------------------------------Navigation bar-----------------------------------------------------------*/    
    .hamburger-bar{
        display: none;
    }

    .navbar .container{
        display: grid;
        grid-template-columns: 405px auto;
        justify-content: unset;
    }

    .navbar nav{
        overflow: visible;
        display: flex;
        justify-content: space-between;
        position: unset;
    }

    .navbar nav ul{
        display: flex;
    }

    .navbar nav li a{
        display: block;
        padding: 1.13em;
        text-align: center;
    }

    .navbar nav .secondary-nav li a{
        display: none;
    }
}

@media only screen and (min-width: 927px)
{
    .navbar nav .secondary-nav li a{
        display: block;
        padding: 0.65em;
        text-align: center;
    }
}